# commercetools
CTP_PROJECT_KEY=your-project-key
CTP_CLIENT_ID=your-client-id
CTP_CLIENT_SECRET=your-client-secret
CTP_AUTH_URL=https://auth.europe-west1.gcp.commercetools.com
CTP_API_URL=https://api.europe-west1.gcp.commercetools.com
CTP_SESSION_URL=https://session.europe-west1.gcp.commercetools.com
CTP_JWKS_URL=https://mc-api.europe-west1.gcp.commercetools.com/.well-known/jwks.json
CTP_JWT_ISSUER=https://mc-api.europe-west1.gcp.commercetools.com

# MONEI
MONEI_API_KEY=your-monei-api-key
MONEI_ACCOUNT_ID=your-monei-account-id
MONEI_WEBHOOK_SECRET=your-webhook-secret
MONEI_ENVIRONMENT=test
MONEI_PAYMENT_METHODS_ENABLED=bizum,card,applePay,googlePay

# Stored payment methods (optional)
STORED_PAYMENT_METHODS_ENABLED=false
STORED_PAYMENT_METHODS_PAYMENT_INTERFACE=monei
STORED_PAYMENT_METHODS_INTERFACE_ACCOUNT=
